<div class="login">
    <div class="section1">
        <div class="titulo1">Bienvenido a la mejor plataforma</div>
        <div class="titulo2"><b>organizacional online</b></div>
        <div class="titulo3">Gestión efectiva del talento humano</div>
    </div>
    <div class="section2">
        <div class="logo"><img src="../../assets/isologo.png" alt=""></div>
        <div class="form">
            <form action="">
              <p>Usuario</p>
              <input class="inputText" type="text">
              <p>Contraseña</p>
              <div class="pass">
                <input class="inputText" type="password">              
            </div>
              <div class="record">
                <input class="" type="checkbox" name="" id="">
                <label for="">Recordar cuenta </label>
              </div>
              <button  class="button" routerLink="/dashboard">Iniciar sesion</button>
              <div class="labels">
                <p class="bot">¿Olvidaste tu usuario?</p>
                <p class="bot">¿Olvidaste tu contraseña?</p>
              </div>
            </form>
          </div>
    </div>
</div>