<div class="dashboard">
    <div class="navClass">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse" id="navbarText">
                <div class="logo"><img src="../../assets/dashboard/isologo.png" alt=""></div>
                <div class="user">
                    <div class="icon"><img src="../../assets/dashboard/UserIcon.png" alt=""></div>
                    <div class="infoUser">
                        <p>Username</p>
                        <span>Rol</span>
                    </div>
                </div>
            </div>
          </nav>
    </div>
    <div class="board">
        <div class="sideBar">
            <div class="btnSide">
                <img src="../../assets/dashboard/Nav.png" alt="">
            </div>
            <div class="navMenu">
                <div class="home menuItem">Home</div>
                <div class="list menuItem">Listas</div>
            </div>
        </div>
        <div class="mainBoard">
            <div class="welcome">
                Bienvenido! <br>
                Username
            </div>
            <div class="infoBoard">
                Añade los datos personales de tus empleados y después agrega su cargo en tu empresa
            </div>
            <div class="addBtn">
                <div class="imgAdd">
                    <img src="../../assets/dashboard/Añadir-usuario.png" alt=""><br>
                    <span>Empieza aquí</span>
                </div>
            </div>
        </div>
    </div>
</div>